# Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
venv/
env/
.venv
# Archivos de configuración local
.env

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db